nav {
  width: 450px;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 4;
  overflow: hidden;

  h1 {
    position: absolute;
    display: inline-block;
    top: 12%;
    left: 50px;
    font: 500 40px/1.3 "Orbitron";
    letter-spacing: 1px;
    color: #fff;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
      margin-top: 5px;
    }
  }

  #nav {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0px;

    li {
      width: 450px;
      padding: 30px 50px;
      position: relative;
      opacity: 0.4;
      cursor: pointer;
      transition: 1.4s;
      transform-origin: left center;

      h2 {
        display: inline-block;
        font: 600 16px/1 "Orbitron";
        color: #fff;
        letter-spacing: 1px;
        margin-bottom: 5px;

        &::after {
          content: "";
          display: block;
          width: 20px;
          height: 1px;
          background-color: #fff;
          margin-top: 5px;
          transition: 1.5s;
        }
      }

      p {
        font: 600 14px/1 "Orbitron";
        color: #fff;
        letter-spacing: 1;
        opacity: 0.7;
      }

      &.on {
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        );
        transform: scale(1.3);
        opacity: 1;

        h2::after {
          width: 100%;
        }
      }
    }
  }
}
